{%extends 'base.html'%} 

{%block content %}



<div class = 'article-content'>
    
    <div class="bg-success">
         <a class=" btn text-decoration-none font-weight-normal" href ="{%url 'visita-create' %}" ><i class="bi bi-plus-square">  Agendar</i></a>
       
    </div>
    <hr>
    <h3>Listado de visitas</h3>
    <hr>
    <div class= 'table-responsive'>

        <table class="table table-borderless table table-hover">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Institucion</th>
                <th scope="col">Visitante</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Motivo</th>
            </tr>
            </thead>
            <tbody>
                {% for visitas in object_list  %} 
                <tr>
                    <th scope = 'row'>{{ visitas.id }}</th>
                    <td><a class="mr-2" href="{% url 'visita-detail' visitas.id %}">{{visitas.institucion}}</a></td>
                    <td>{{visitas.nombre}} {{visitas.apellido}}</td>
                    <td>{{visitas.fecha}}</td>
                    <td>{{visitas.hora}}</td>
                    <td>{{visitas.motivo}}</td>
                    <td><a class="btn btn-outline-primary" href ="{%url 'visita-update' visitas.id %}"><i class="bi bi-pencil-square"></i></a></td>
                    <td><a class="btn btn-outline-danger" href ="{%url 'visita-delete' visitas.id %}"><i class="bi bi-trash"></i></a></td>
                    
                </tr>
                    
                    

                {% endfor %}
 
            </tbody>   
        </table>  
    </div>    
</div>





{%endblock %} 