
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    
  }

td {
  white-space: nowrap;
  /*height: 20%; */
}
.site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
.add-new_visit  {
    background-color: #4bd10d;
  }

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
.bi-plus-square{
    font-size: 1.2rem; 
    color: rgb(247, 247, 248);
    
}



.content-section {
    background: #ffffff;
    padding: 10px 20px; 
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

.bg-steel {
    background-color: #5f788a;
  }

h1, h2, h3, h4, h5, h6 {
    color: #444444;

}

.content-heading {
    font-size: 2rem;
    background-color: #5f788a;


}

/*   login properties ------------------------------ */

.login-dark {
  height:1000px;
  /* background:#475d62 url(fondo.jpg); */
  background-size:cover;
  position:relative;
}

.login-dark form {
  max-width:320px;
  width:90%;
  background-color:#232b35e3;
  padding:30px;
  border-radius:4px;
  transform:translate(-50%, -50%);
  position:absolute;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

.login-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.login-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #434a52;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.login-dark form .btn-primary {
  background:#214a80;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:26px;
  text-shadow:none;
  outline:none;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
  background:#214a80;
  outline:none;
}

.login-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.login-dark form .btn-primary:active {
  transform:translateY(1px);
}

